.rating__message{
    padding: 10px 20px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: center;

}

.rating__feedback__opinions__single{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.rating__eachopi{
    margin-bottom: 20px;
    width: 46%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.rating__opi{
    text-align:center;
    font-size: 13px;
    margin: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rating__opitext{
    padding: 16px 0;
}

.rating__icon{
    width: 30%;
    padding: 30px 0;
    
}

.rating__iconbg.laven{
    background:#F4E3E3;;
}
.rating__iconbg.blue{
    background:#D3ECE9;
}
.rating__iconbg.teal{
    background:#DAEFF4;
}
.rating__iconbg.sky{
    background:#E2F4FC;
}
.rating__iconbg.gray{
    background:#E3E5E5;
}
.rating__iconbg.beige{
    background:#F4F2DB;
}