.rating__button-xac-nhan{
    background:  rgba(198, 29, 35, 0.9);
    color: #ffffff;
    padding: 10px;
    font-weight: 900;
    font-size: 17px;
    &.startscreen{
    margin-top:10%;
}
}

.rating{
    width: 100%;
}

.rating__logo--small{
    width: 30%;
    max-width: 150px;  
}

.rating__cover{    
    max-width: 800px;
    padding-top: 5vh;
    width: 80%;
}
