

.rating__hoa-don tr{
    font-weight:normal;
    border-bottom : 1px solid #c7c2c2;
   
}

.rating__hoa-don th{
    
    padding: 10px 5vw;
}

.rating__hoa-don th:first-child{ 
    padding-left: 0;
}
.rating__hoa-don th:last-child{
    padding-right: 0;
}

th.rating__hoa-don__tensp{
 text-align:left   
}


.rating__hoa-don__total__value{
   font-weight:bold;
 
}

.rating__info-khach,.rating__hoa-don,.rating__hoa-don__total{
    font-size: 14px;
}
.red{
    color: rgba(198, 40, 40, 0.95);
}
.rating__hoa-don__total{
margin-left: 10vw;
margin-right: 10vw;
border-bottom: 1px solid #e0e0e0;
padding: 10px;
display:flex;
    justify-content: space-between;
}

.rating__hoa-don{
    margin: 30px auto 30px auto;
}

.rating__button-xac-nhan.martop20{
    margin-top: 20px
}