.rating__tenshowroom {
    text-align: center;
    background: rgba(198, 40, 40, 0.95);
    color: #fff;
    padding: 17px;
    font-weight:bold;
    text-transform: uppercase;
}

.rating__info-khach{
    
    margin: auto;
    width: max-content;

}
.rating__info-khach__field{
    display: flex;
   
    padding-top: 10px;
   
}

.rating__info-khach__field__key{
    width: 100px;
}

.rating__row-border{
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px;
}

.rating__hour{
    margin-left: 50px;
}
