.rating__star-main{
    background: rgba(198, 29, 35, 0.8);
    height: 90vh;
}
.rating__box{
    background: #FFFFFF;
border-radius: 15px;
margin: 40px 15px;
padding: 40px 10px;
}

.rating__dgcl{
    font-weight: 900;
font-size: 18px;
line-height: 21px;
text-align: center;
margin-top: 30px;
}

.rating__iconstar{
     stroke:black;
     stroke-width:0.5;
   
}
.rating__logo{
    width: 50%;
    max-width: 300px
}

.smilie{
    width: 45%;
    max-width: 180px;
    margin:auto;
}

.list-of-svg{
    width: fit-content;
    padding-top: 20px;
}

.rating__hl{
    float:right;
}
.rating__khlhl{
font-size: 13px;

width: 70vw;
max-width: 300px;
margin: auto;
margin-top: 15px;
}

.list-of-svg svg{
    margin: auto 1vw;
}

