@import 'reset';
@import 'first-screen';
@import 'chon-tinh';
@import 'hoa-don';
@import 'hoa-don-single';
@import 'thank-you';
@import 'feedback';
@import 'star';

* {
  box-sizing: border-box;
}

body{
  font-family: Roboto, sans-serif;
}

.row {
  margin: 0 -15px;

  :after {
    content:"";
    clear: both;
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  overflow: hidden;
}

/* all the things that need margin auto */
.rating__button-xac-nhan,.rating,.rating__logo , .rating__cover,.rating__search-bar , .rating__thanh-pho__button,.rating__tinh , .rating__tenshowroom,.smilie,.list-of-svg,.rating__logo--small{ 
  margin: auto;
  display:block;
  }

  /* all the things that need text align center */

  .rating__tit-hoadon,.rating__tit-chontinh{
    text-align:center;
  }

 